.header-container{
    display:flex;
    justify-content: space-between;
    padding:50px;
    background: #212529;
    color: #fff;
}
ul{
    list-style: none;
    display: flex;
}
li{
    font-size: 1.2rem;
    margin: auto;
    padding: 0 30px;
}
a{
    text-decoration: none;
    color:white;
}